<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="/static/cover.css" rel="stylesheet">
    </head>

    <body class="text-center bg">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto"></header>
            <main role="main" class="inner cover">
                <h1 class="cover-heading">Chess engine API</h1>
                <p class="lead">Click on the below to discover available API endpoints.</p>
                <p class="lead">
                  <a href="api/ui/" class="btn btn-lg btn-secondary">Services</a>
                </p>
            </main>
            <footer class="mastfoot mt-auto"></footer>
        </div>

    </body>
</html>